//@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables-and-functions";

$color-green: #57b846;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: inherit;

	//border: 1px solid black;
}

body {
	box-sizing: border-box;
	background: linear-gradient(45deg, #4958cf, #c750c0);
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 100vh;
	height: fit-content;
	min-width: fit-content;
	//font-family: "Merriweather", serif;
	font-family: "Poppins", sans-serif;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 67.5%;

	overflow-x: hidden;
	position: relative;
}

.login-card {
	height: 73vh;
	min-height: 40rem;
	width: 70vw;
	max-width: 60rem;
	background-color: #fff;
	margin: 3vh 2vw;
	border-radius: 0.6rem;

	display: flex;

	& div {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .image {
		//border-right: 1px solid rgba(0, 0, 0, 0.089);
		position: relative;
		overflow: hidden;

		& img#laptop {
			height: 15vw;
			transform-style: preserve-3d;
			transform: perspective(1000px);
			border-radius: 50%;
		}

		& div#animated-icons {
			//border: 1px solid black;
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			height: 12vw;
			width: 12vw;
		}

		& .circle-1 {
			@include animation-code(circle-spin-1, 13s, 0deg);

			&::after {
				background: url(../img/circle.png);
				@include after-elements(40%);
			}
		}

		& .circle-2 {
			@include animation-code(circle-spin-2, 13s, -180deg);

			&::after {
				background: url(../img/circle.png);
				@include after-elements(10%);
			}
		}

		& .triangle-1 {
			@include animation-code(triangle-spin-1, 13s, -100deg);

			&::after {
				background: url(../img/triangle.png);
				@include after-elements(40%);
			}
		}

		& .triangle-2 {
			@include animation-code(triangle-spin-2, 13s, -260deg);

			&::after {
				background: url(../img/triangle.png);
				@include after-elements(40%);
			}
		}

		& :where(.square) {
			@include animation-code(square-spin, 40s, 90deg);

			&::after {
				background: url("../img/checkbox-unchecked.png");
				@include after-elements(30%);

				animation: spin 50s linear;
				animation-iteration-count: infinite;
				animation-fill-mode: forwards;
			}
		}
	}

	& div.form {
		flex-direction: column;
		row-gap: 3vh;
		font-size: 2vh;

		& h3 {
			margin-bottom: 3vh;
			font-size: 3vh;
			font-weight: 800;
		}

		& div.inputBox {
			position: relative;
			width: 17vw;

			& input {
				width: 100%;
				padding: 1vw;
				outline: none;
				border: 1px solid rgba(0, 0, 0, 0.089);
				border-radius: 5px;
			}
			& span {
				position: absolute;
				left: 1vw;
				top: 1vw;
				//letter-spacing: 1px;
				transition: all 0.3s;
				pointer-events: none;
				color: rgba(0, 0, 0, 0.5);
				font-size: 85%;
				background: #fff;
				padding: 3px;
				letter-spacing: 1px;
			}

			& input:not(:placeholder-shown),
			& input:focus {
				border: 1px solid $color-green;
			}

			& input:not(:placeholder-shown) + span,
			& input:focus + span {
				letter-spacing: 0;
				top: -1vh;
				left: 1vh;
				border-left: 1px solid $color-green;
				border-right: 1px solid $color-green;
				color: $color-green;
				font-size: 75%;
				text-transform: uppercase;
			}
		}

		& .buttons {
			//border: 1px solid black;
			width: 17vw;

			& button {
				width: 100%;
				padding: 1vw;
				cursor: pointer;
				background: $color-green;
				font-weight: 700;
				color: #fff;
				outline: none;
				border: none;
				border-radius: 5px;
				transition: all 0.3s;

				&:hover {
					background: #333;
				}
			}
		}
	}
}

.passwordSVG {
	position: absolute;
	left: 105%;
	width: 2vw;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s;
}

.notificationDiv {
	position: absolute;
	top: 5%;
	right: 5%;
	border: 1px solid black;
	padding: 1% 2%;
	//width: 50px;
}

@include all-key-frames;
